1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators. * ,'hello', -87.8, - , / , +, 6 

Ans: 

1.* = expression

2. 'hello' = value

3. -87.8 = value

4.- = expression

5. / = expression

6.+ = expression

7. 6 = value

2. What is the difference between string and variable?

Ans: 
    
String is a character or series of character (word) which is enclosed with in single or double quotes, there can be a string variable also like for example,
eg. 'pradeepa' ,"ineuron", var='data science' - here var is a variable, 'data science' is the string

Variable is any element which holds the value, any string or integer or list or tuple or dict or set or nesting these things can be assigned to a variable
and can be used for further operations 

Eg. a=0,b='chara', h=[1,2,3], j=tuple(h)

here a,b,h,j are variables

3. Describe three different data types.

Ans: 
    
There are many data types in python like string (str), integer (int), list, dictionary (dict), tuple, set among those these three, I am going to explain


list - enclosed with square brackets [], is similar to array data structure of various other programming languages except to the fact that it can contain multiple data types in it

A list can have int, str also another list itself as an element, the indexing of list starts from 0,1,2 where 0 is the index given to first element

List is a mutable data type to which deletion, appending can all be made and one can iterate over the list through loops


tuple - enclosed with curve brackets (), is similar to list data type with one modification that tuples are immutable which prevents append function to a tuple

A tuple also can have multiple data typed elements also duplicates of those, it is ordered and hence here also indexing starts from 0,1,2.. it can also be iterated through loops


dict - enclosed with {} a dictionary has key value pair of combination {Key:Value} {'name' :'Pradeepa'}, {a: 10}

A dictionary can have duplicate value but unique keys, and can be accessed with the help of key and value for operations in the program

4. What is an expression made up of? What do all expressions do?


Ans: 
    
Expression has an operator and operand with combination assigning result to a variable


Most of the single line computation in the program is a expression

All the expression try to calculate or compute the minimal output and proceed further in the code

Example: a=7+3, 

    h=a-1 here each line is an expression where a is the variable, 7,a,1 are the operands and +,- are the operators

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans: 
    

Expression involves a calculation part or computing part where any output or evaluation occurs as mostly involves with the help of operator

Example: g=9+1

Statement is the action we insist the program to do without any specific output or evaluation 

Example: print(g)

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans: 
    
23

23 will be the output as this first assigns bacon as 22 and in the next line 1 is added to 22

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

Ans: 

    'spamspamspam'

    Both of these produce same output, three spams as in the first expression we do string concatenation and in the second expression we do multiply (repeat) the string spam three times, producing the same output

8. Why is eggs a valid variable name while 100 is invalid?

Ans:
    
Any variable in python should start with letters (alphabets (capital or small) or under score _) 
So eggs is a valid variable
Whereas as 100 starts with a digit its not valid to be a variable

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans:

To get the integer:

    a='9'
    b=int(a)
    type(b)
    output: int
    
To get the floating point:

    a=9
    b=float(a)
    print(type(b),b)
    output: <class 'float'> 9.0

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Ans: 

A string cannot be concatenated with an integer thats how python follows there are many alternative ways to perform the same like 99 can be converted to string or even format function can be used like below
print("{}{}{}".format('I have eaten ', 99, ' burritos'))
output: I have eaten 99 burritos