1.Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [5]:
test1='This is a test of the emergency text system,'
f=open('test.txt','w')
with open('test.txt','w') as f:
    f.write(test1)
f.close()

2.Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [6]:
with open('test.txt','r+') as f:
    test2=f.read()
print(test2)

This is a test of the emergency text system,

3.Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [8]:
import csv
c=['title','author','year']
r=[['The Weirdstone of Brisingamen','Alan Garner',1960],
['Perdido Street Station','China Miéville',2000],
['Thud!','Terry Pratchett',2005],
['The Spellman Files','Lisa Lutz',2007],
['Small Gods','Terry Pratchett',1992]]
file="books.csv"
with open(file,'w') as f:
    csvw=csv.writer(f)
    csvw.writerow(c)
    csvw.writerows(r)

4.Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3
conn=sqlite3.connect('books.db')
s=conn.cursor()
s.execute('create table books(title varchar(50),author varchar(10), year int)')
conn.commit()

5.Read books.csv and insert its data into the book table.

In [7]:
import pandas as pd
r=pd.read_csv('books.csv')
r.to_sql('books',conn, if_exists='append', index=False)

6.Select and print the title column from the book table in alphabetical order.

In [10]:
s.execute('select title from books order by title asc')
print(s.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7.From the book table, select and print all columns in the order of publication.

In [11]:
s.execute('select title, author, year from books order by year')
print(s.fetchall())

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Mi�ville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

8.Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [27]:
import sqlalchemy
con=sqlalchemy.create_engine('sqlite:///bookss.db')
sq='select title, author, year from books'
rows=s.execute(sq)
for row in rows:
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Mi�ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9.Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [30]:
import redis
conn=redis.Redis()
conn.delete('test')

1

In [31]:
conn.hmset('test',{'count':1,'name':'Fester Bestertester'})

<ipython-input-31-266d20388016>:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test',{'count':1,'name':'Fester Bestertester'})

True

In [32]:
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

10.Increment the count field of test and print it.

In [35]:
conn.hincrby('test', 'count',3)

4

In [36]:
conn.hget('test','count')

b'4'