Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, FIRST_NAME, salary FROM Worker) as h WHERE R_NUM=5;

Q-20. Write an SQL query to fetch the list of employees with the same salary.

SELECT * FROM Worker ORDER BY salary ASC;