Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

SELECT * FROM Worker WHERE JOIN_DATE LIKE '%2014-02%'

In [ ]:
Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
SELECT XOLUMN_NAME, COUNT (COLUMN_NAME) FROM Worker GROUP BY FIELD HAVING COUNT (COLUMN_NAME) > 1;

In [ ]:
Q-3. How to remove duplicate rows from Employees table.

DELETE Employees.* from Employees INNER JOIN Employee WHERE Employees.id > Employee.id AND Employees.FIRST_NAME = Employee.FIRST_NAME AND Employees.LAST_NAME = Employee.LAST_NAME AND Employees.COUNTRY = Employee.COUNTRY;