Q-13. Write an SQL query to show only odd rows from a table.

SELECT * FROM Worker Where MOD(id,2) = 1

Q-14. Write an SQL query to clone a new table from another table.

CREATE TABLE CloneWorker (

    id INT PRIMARY KEY,

    FIRST_NAME VARCHAR(50),
    
    name VARCHAR(50),
    
    salary INT,
    
    DEPARTMENT VARCHAR(50),
    
    JOIN_DATE DATETIME

);

INSERT INTO clone SELECT * FROM Worker;